<div class="d-flex align-items-center justify-content-between">
  <div class="logo pointer" (click)="headerLogo()">
    <img src="./assets/images/small-logo.png" alt="" />
  </div>
  <div class="right-side-head">
    <h3 class="small-title">
      {{commonService.pageName}}
    </h3>
    
    <xng-breadcrumb class="breadcrumb-container">
      <ol class="breadcrumb justify-content-end mb-0 pointer">
        <ng-template *xngBreadcrumbItem let-route="breadcrumb">
          <li
            class="breadcrumb-item cursor-pointer"
            [ngClass]="{ active: route.terminal }"
            [routerLink]="route.url !== '/location' && route.url !== '/profile' ? [route.url] : ['/']"
          >
            {{ route.displayName === 'Profile' ? 'Home' : route.displayName }}
          </li>
        </ng-template>
      </ol>
    </xng-breadcrumb>
    
  </div>
</div>
