<div class="login-parnet-box" >
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-1"></div>
            <div class="col-lg-5 text-center">
                <img src="./assets/images/logo.webp" alt="logo">
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-4">
                <div class="while-box-login" [loader]="isLoading">
                    <div class="top-bar">
                        <div class="large-title">Verification</div>
                        <div class="sub-title">We have sent a confirmation PIN to the email address you specified in the previous step. Please enter it here.</div>
                    </div>
                    <div class="middle-bar">
                      <ng-otp-input class="otp-parent" (onInputChange)="onOtpChange($event)" [config]="{length:4}"></ng-otp-input>
                      <div class="errors">
                        <p class="errors"  *ngIf="isSubmitted && otpInput?.length != 4"> Please enter otp</p>
                      </div>
                        <div class="resend-pin">
                            <div
                            *ngIf="timeLeft != 0"
                            > Resend PIN <span class="general-link">(00:{{timeFormate(timeLeft)}})</span></div>
                            <div
                            *ngIf="timeLeft == 0"
                            (click)="sendPin()" style="cursor: pointer;">Resend PIN </div>
                          </div>
                    </div>
                    <div class="bottom-bar">
                        <div class="button-parent text-center row">
                            <div class="col-sm-6" >
                                <a (click)="pageHandle()"  class="white-button full-width"><b>Back</b></a>
                            </div>
                            <div class="col-sm-6">
                                <button (click)="submitOTP()" class="primary-button full-width"><b>Continue</b></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
    <p>Risk Warning : Trading FX instruments and CFDs can incur a high level of risk and may result in a loss of all your invested Capital.</p>
</div>
