<div
  style="
    margin: 10px auto;
    width: 100%;
    font-family: Plus Jakarta Sans, sans-serif;
    display: flex;
    justify-content: center;
  "
>
  <img src="./assets/images/coming_soon.webp" alt="logo" />
  <!--  <h2 style="font-weight: 600">Bold Prime Fans Terms and Conditions</h2>-->
  <!--  <div style="margin-left: 30px; margin-top: 30px">-->
  <!--    <ol>-->
  <!--      <li style="margin: 10px 0 30px 0">-->
  <!--        Deposit Points Accumulation:-->
  <!--        <ol style="list-style-type: lower-alpha; margin-left: 20px">-->
  <!--          <li style="margin: 10px">-->
  <!--            Clients will earn deposit points based on the amount deposited with-->
  <!--            the following conversion rate: $1 = 1 deposit point.-->
  <!--          </li>-->
  <!--          <li style="margin: 10px">-->
  <!--            The deposit points will be credited to the client's account upon-->
  <!--            successful deposit.-->
  <!--          </li>-->
  <!--          <li style="margin: 10px">-->
  <!--            Only deposits made using approved payment methods will be eligible-->
  <!--            for deposit points accumulation.-->
  <!--          </li>-->
  <!--        </ol>-->
  <!--      </li>-->
  <!--      <li style="margin: 10px 0 30px 0">-->
  <!--        Lot Points Earned Through Trading-->
  <!--        <ol style="list-style-type: lower-alpha; margin-left: 20px">-->
  <!--          <li style="margin: 10px">-->
  <!--            Client will receive 1 Lot Point for every 1 Lot traded.-->
  <!--            <span style="margin-top: 5px">-->
  <!--              Example: Trade 0.01 Lot, receive 0.01 Lot Point.-->
  <!--            </span>-->
  <!--          </li>-->
  <!--          <li style="margin: 10px">-->
  <!--            Trade must last at least 3 minutes to be counted. Scalping trades-->
  <!--            will not be calculated.-->
  <!--          </li>-->
  <!--        </ol>-->
  <!--      </li>-->
  <!--      <li style="margin: 10px 0 30px 0">-->
  <!--        Points Expiration:-->
  <!--        <ol style="list-style-type: lower-alpha; margin-left: 20px">-->
  <!--          <li style="margin: 10px">-->
  <!--            Each Deposit and Lot points have a validity period of 365 days from-->
  <!--            the date of accumulation.-->
  <!--          </li>-->
  <!--          <li style="margin: 10px">-->
  <!--            Expired points cannot be redeemed or reinstated.-->
  <!--          </li>-->
  <!--        </ol>-->
  <!--      </li>-->
  <!--      <li style="margin: 10px 0 30px 0">-->
  <!--        Prize Redemption:-->
  <!--        <ol style="list-style-type: lower-alpha; margin-left: 20px">-->
  <!--          <li style="margin: 10px">-->
  <!--            Clients must meet both deposit and lot point requirements to redeem-->
  <!--            prizes from the Bold Prime Fans program.-->
  <!--          </li>-->
  <!--          <li style="margin: 10px">-->
  <!--            Lot point requirements refer to the minimum trading volume that must-->
  <!--            be executed by the client.-->
  <!--          </li>-->
  <!--          <li style="margin: 10px">-->
  <!--            Deposit point requirements refer to the minimum total deposit to be-->
  <!--            eligible to redeem the prize.-->
  <!--          </li>-->
  <!--          <li style="margin: 10px">-->
  <!--            Clients can check their progress towards meeting the deposit and lot-->
  <!--            point requirements through Redeem Bold Prime Fans Page or by-->
  <!--            contacting customer support.-->
  <!--          </li>-->
  <!--        </ol>-->
  <!--      </li>-->
  <!--      <li style="margin: 10px 0 30px 0">-->
  <!--        Suspicious Activity and Manipulation:-->
  <!--        <ol style="list-style-type: lower-alpha; margin-left: 20px">-->
  <!--          <li style="margin: 10px">-->
  <!--            Any suspicious activity or manipulation of Bold Prime Fans program-->
  <!--            will be strictly monitored.-->
  <!--          </li>-->
  <!--          <li style="margin: 10px">-->
  <!--            Bold Prime reserves the right to investigate and take appropriate-->
  <!--            action upon detection of such activities.-->
  <!--          </li>-->
  <!--          <li style="margin: 10px">-->
  <!--            In cases where suspicious activity or Bold Prime Fans program-->
  <!--            manipulation is confirmed, Bold Prime reserves the right to clear-->
  <!--            all accumulated points.-->
  <!--          </li>-->
  <!--          <li style="margin: 10px">-->
  <!--            In severe cases, Bold Prime may choose to ban the client from-->
  <!--            participating in the Bold Prime Fans program or even terminate the-->
  <!--            client's account.-->
  <!--          </li>-->
  <!--        </ol>-->
  <!--      </li>-->
  <!--      <li style="margin: 10px 0 30px 0">-->
  <!--        Program Modifications:-->
  <!--        <ol style="list-style-type: lower-alpha; margin-left: 20px">-->
  <!--          <li style="margin: 10px">-->
  <!--            Bold Prime reserves the right to modify or terminate the Bold Prime-->
  <!--            Fans program at any time without prior notice.-->
  <!--          </li>-->
  <!--          <li style="margin: 10px; line-height: 25px">-->
  <!--            Changes to the Bold Prime Fans program, including but not limited to-->
  <!--            conversion rates, expiration periods, lot point requirements, and-->
  <!--            deposit point requirements, will be communicated to the clients-->
  <!--            through appropriate channels such as email or website announcements.-->
  <!--          </li>-->
  <!--        </ol>-->
  <!--      </li>-->
  <!--      <li style="margin: 10px 0 30px 0">-->
  <!--        General Conditions:-->
  <!--        <ol style="list-style-type: lower-alpha; margin-left: 20px">-->
  <!--          <li style="margin: 10px">-->
  <!--            Deposit and Lot points have no cash value and cannot be exchanged-->
  <!--            for monetary compensation.-->
  <!--          </li>-->
  <!--          <li style="margin: 10px">-->
  <!--            Deposit and Lot points are non-transferable and can only be used by-->
  <!--            the account holder.-->
  <!--          </li>-->
  <!--          <li style="margin: 10px">-->
  <!--            Bold Prime is not responsible for any loss or damage incurred as a-->
  <!--            result of participating in the Bold Prime Fans program.-->
  <!--          </li>-->
  <!--          <li style="margin: 10px">-->
  <!--            Any disputes arising from the Bold Prime Fans program will be-->
  <!--            resolved by Bold Prime at its sole discretion, and the decision will-->
  <!--            be final.-->
  <!--          </li>-->
  <!--        </ol>-->
  <!--      </li>-->
  <!--    </ol>-->
  <!--  </div>-->
  <!--  <span style="line-height: 25px">-->
  <!--    By participating in the Bold Prime Fans program, clients acknowledge and-->
  <!--    agree to comply with these terms and conditions. Bold Prime reserves the-->
  <!--    right to modify or update these terms and conditions as necessary.-->
  <!--  </span>-->
</div>
