<!-- <iframe class="__tyt__"
    src="https://iframe.trainyourtraders.com/?token=04CR81X2327YCP7G&amp;l=05w2q1uxz9&amp;user=35742&amp;lang=en&amp;hm=fx.myboldprime.com"
    frameborder="0" marginwidth="0" marginheight="0" allowfullscreen="true" webkitallowfullscreen="true"
    mozallowfullscreen="true" width="100%" style="min-width: 100%; overflow: hidden; height: 518px;" id="iFrameResizer0"
    scrolling="no">
</iframe> -->
<div 
class="tyt-iframe" 
data-token="04CR81X2327YCP7G" 
data-l="05w2q1uxz9" 
data-user="240264"
data-lang="en">
</div>