<div [loader]="isLoading" *ngIf="initialModal">
  <form class="main-white-box" [formGroup]="withdrawFundsForm" (ngSubmit)="onSubmitFirst()">
    <div class="top-area">
      <div class="progres-bar d-flex align-items-center">
        <div class="progres-item active">Initial Information</div>
        <div class="progres-item">Transfer Details</div>
        <div class="progres-item">Confirmation</div>
      </div>
    </div>
    <div class="content-area">
      <div class="row row-gap-4">
        <div class="col-md-12">

          <div class="boxed-label-input d-flex">
            <!-- formControlName="loginSid" -->
            <label>Withdraw From</label>
            <select name="loginSid" id="loginSid" formControlName="loginSid" [(ngModel)]="selectedOption"
              (change)="selectDrop($event)">
              <ng-container *ngIf="accountListArray?.length == 0">
                <option value="" [defaultSelected]="true" class="d-none"> No data found </option>
              </ng-container>
              <ng-container *ngIf="accountListArray?.length > 0">
                <ng-container *ngFor="let item of accountListArray; let index = index;">
                  <optgroup label="{{item.title}}">
                    <ng-container *ngFor="let element of item.data let indexArray = index;">
                      <!-- <option value="" [defaultSelected]="true" class="d-none" *ngIf="index == 0">
                      </option> -->
                      <option value="{{element.loginSid}}+{{element.balance}}+{{element.type.title}}+{{element.login}}">
                        {{element.type.title}} {{element.login}}
                        {{currencyFor(element.balance)}} USD </option>
                    </ng-container>
                  </optgroup>
                </ng-container>
              </ng-container>
            </select>
          </div>
          <div *ngIf="isSubmitted && f['loginSid'].errors" class="errors boxed-label-input no-border">
            <p *ngIf="f['loginSid'].errors['required']">Please select account</p>
          </div>

        </div>

        <ng-container *ngIf="paymentListArray?.length != 0">
          <ng-container *ngFor="let item of paymentListArray; let index = index;">
            <div class="col-md-6 col-lg-3 boxHover" [ngClass]="{'active-box' : paymentValue == item.id}"
              (click)="setPaymentValue(item)">
              <div class="image-box-item deposit-Type">
                <ng-container *ngIf="imagecheck(item)">
                  <h4>{{item.displayName}}</h4>
                </ng-container>

                <ng-container *ngIf="!imagecheck(item)">
                  <img src="{{imageFormat(item)}}" alt="">
                </ng-container>
              </div>

            </div>
          </ng-container>

          <div *ngIf="isSubmitted" class="errors boxed-label-input no-border">
            <p *ngIf="!paymentValue">Please select the withdraw type </p>
          </div>
        </ng-container>


        <div class="col-md-12 mt-4">
          <div class="boxed-label-title">
            <h6 (click)="paymentUpdate()" class="pointer text-center text-primary"><u>Upload Payment Details</u></h6>
            <p *ngIf="isSubmitted == true && paymentDetailsDrop.length == 0" class="errors">Please add payment Details
            </p>
          </div>
          <div class="boxed-label-title d-flex">
          </div>
          <ng-container *ngIf="paymentDetailsDrop.length != 0">

            <div class="boxed-label-input d-flex">
              <!-- formControlName="loginSid" -->
              <label>Withdraw To</label>
              <select name="loginSid" id="loginSid" (click)="selectUploadPaymentType($event)">
                <optgroup label="Approved">
                  <option *ngFor="let element of paymentDetailsDrop let indexArray = index;"
                    value="{{element.id}}+{{element.number}}">
                    {{element.number}}</option>
                </optgroup>
              </select>
            </div>

          </ng-container>
        </div>

        <div class="col-md-12" *ngIf="currencyArray?.length > 0">
          <div class="boxed-label-input d-flex">
            <label>Currency</label>
            <select name="currency" id="currency" (change)="selectCurrency($event)">
              <ng-container *ngFor="let item of currencyArray; let index = index;">
                <option value="{{item}}">{{item}}</option>
              </ng-container>
            </select>
          </div>
        </div>

        <div class="col-md-12">
          <div class="button-parent d-flex justify-content-center">
            <button type="button" class="primary-button sub-title lg-btn semi-weight"
              (click)="onSubmitFirst()">Continue</button>
          </div>
        </div>
      </div>
    </div>

  </form>
</div>


<div *ngIf="transferModal" [loader]="isLoading">
  <div class="row flex-column-reverse">
    <div class="col-xl-12">
      <div class="main-white-box">
        <div class="top-area">
          <div class="row">
            <div class="col-md-6 fund-item no-margin">
              <div class="fund-title small-text">Withdraw With</div>
              <p>{{paymentNameValue}}</p>
            </div>
            <div class="col-md-6 fund-item no-margin">
              <div class="fund-title small-text">Withdraw To</div>
              <p>{{withdrawTo}}</p>
              <!-- <p>{{depositName}}{{ LoginsFormID}}</p> -->
            </div>
            <div class="col-md-6 fund-item no-margin">
              <div class="fund-title small-text">Minimum Withdrawal Ammount</div>
              <p>{{currencyFor(minAmount)}} USD</p>
            </div>
            <div class="col-md-6 fund-item no-margin">
              <div class="fund-title small-text">Maximum Withdrawal Ammount</div>
              <p>{{currencyFor(maxAmount)}} USD</p>
            </div>
          </div>
        </div>
        <div class="content-area">

          <div class="image-content text-center" [ngClass]="{'d-none': index != 0}"
            *ngFor="let item of bannerList; let index= index;" style="max-width: 700px; width: 100%;margin: 0 auto;">
            <img style="width:100%;" src="{{getDataRow(item,'preview')}}" alt="image">
          </div>
        </div>
      </div>
    </div>
    <form class="col-xl-12" [formGroup]="TransferFundsForm" (ngSubmit)="onSubmitSecondForm()">
      <div class="main-white-box">
        <div class="top-area">
          <div class="progres-bar d-flex align-items-center">
            <div class="progres-item">Initial Information</div>
            <div class="progres-item active">Transfer Details</div>
            <div class="progres-item">Confirmation</div>
          </div>
        </div>
        <div class="content-area">
          <div class="input-group">
            <!-- (keyup)="inrPrice($event)" -->
            <input type="number" class="gen-input" placeholder="Amount" (keyup)="inrPrice($event)"
              formControlName="amount">
            <div class="floated">USD</div>
          </div>
          <div *ngIf="isSubmitted && a['amount'].errors" class="errors text-boxed">
            <p *ngIf="a['amount'].errors['required']">Please enter amount</p>
            <p *ngIf="TransferFundsForm.controls['amount'].value < minAmount">Minimum deposit amount is {{minAmount}}
              USD</p>
            <p *ngIf="TransferFundsForm.controls['amount'].value > maxAmount">Maximum deposit amount is {{maxAmount}}
              USD</p>
          </div>
          <div *ngIf="isSubmitted && !a['amount'].errors" class="errors text-boxed">
            <p *ngIf="TransferFundsForm.controls['amount'].value < minAmount && minAmount != 0 ">Minimum deposit amount
              is {{minAmount}} USD</p>
            <p *ngIf="TransferFundsForm.controls['amount'].value > maxAmount && maxAmount != 0">Maximum deposit amount
              is {{maxAmount}} USD</p>
          </div>

          <div class="text-boxed mt-2 text-secondary">Withdraw from {{depositName}} {{LoginsFormID}} ({{currencyFor(CurrencyValue)}})
          </div>

          <div class="input-group">
            <!-- value="{{USDPrice}}" -->
            <input type="number" disabled class="gen-input" value="{{USDPrice}}" placeholder="Credited Amount">
            <div class="floated">{{depositCountry}}</div>

          </div>
          <div class="text-boxed mt-2">Approximate amount to be credited onto your Trading Account after deducting the
            Commission & Fees</div>
          <div class="button-parent d-flex justify-content-center">
            <button type="button" class="white-button sub-title md-btn semi-weight"
              (click)="backHandle('backInitial')">Back</button>
            <!-- <button type="submit" class="primary-button sub-title md-btn semi-weight">Continue</button> -->
            <button type="submit" class="primary-button sub-title md-btn semi-weight">Continue</button>

          </div>
        </div>
      </div>
    </form>
  </div>
</div>



<div class="main-white-box" [loader]="isLoading" *ngIf="confirmModal">
  <div class="top-area">
    <div class="progres-bar d-flex align-items-center">
      <div class="progres-item">Initial Information</div>
      <div class="progres-item">Withdraw Details</div>
      <div class="progres-item active">Confirmation</div>
    </div>
  </div>
  <div class="content-area">
    <div class="row border-main-parent">
      <div class="col-lg-3 col-md-6 fund-item">
        <div class="fund-title small-text"> Withdraw From</div>
        <!-- <p>{{LoginsFormIDSecond}}</p> -->
        <p>{{depositName}} {{LoginsFormID}} ({{currencyFor(CurrencyValue)}})</p>
      </div>
      <div class="col-lg-3 col-md-6 fund-item">
        <div class="fund-title small-text">Withdraw To</div>
        <p>{{withdrawTo}}</p>
      </div>
      <div class="col-lg-3 col-md-6 fund-item mt-3">
        <div class="fund-title small-text">Amount</div>
        <p>{{TransferFundsForm.controls['amount'].value}}</p>
      </div>
      <div class="col-lg-3 col-md-6 fund-item mt-3">
        <div class="fund-title small-text">currency</div>
        <p>USD</p>
      </div>
    </div>
    <div class="button-parent d-flex justify-content-center">
      <button (click)="backHandle('backTransfer')" class="white-button md-btn sub-title semi-weight">Back</button>
      <button (click)="submitForm()" class="primary-button md-btn sub-title semi-weight">Continue</button>

    </div>
  </div>
</div>