<!-- <iframe allowfullscreen="allowfullscreen" src="https://trade.mql5.com/trade?version=4&amp;trade_server=BoldPrime-Live&amp;servers=BoldPrime-Demo,BoldPrime-Live,BoldPrime2-Live&amp;demo_all_servers=1&amp;lang=en&amp;color_scheme=black_on_white&amp;utm_source=www.boldprime.com" style="width: 100%; height: 100%; border: none;"></iframe> -->



    <p id="demo"></p>

    <style>
        #webterminal {
            height: 800px !important
        }

        .content {
            height: 800px !important
        }
    </style>
    <div id="webterminal" style="width:100%;height:600px;"></div>
