.main-pop-box{padding: 15px 0 25px;}
.main-white-box{border-radius: 8px; overflow: hidden; background-color: var(--light-text);}
.modal {
    z-index: 9999;
  }
  .bordered-btn {
    padding: 5px;
    margin: 10px 15px;
    float: inline-end;
  }

  .white-button {
    padding: 5px;
    background-color: var(--light-text);
    color: var(--dark-text);
    text-align: center;
    border-radius: 8px;
    border: 1px solid #D8D7D6;
    margin-top: 15px;
}