.login-parnet-box{background-image: var(--login-bg); height: 100vh; background-position: center; background-size: cover; display: flex; align-items: center; padding: 30px 0;}

.while-box-login{height: auto; background-color: #fff; border-radius: 10px; overflow-y: auto; display: flex; padding: var(--gen-pad); flex-wrap: wrap; color: var(--dark-text);}
.while-box-login .top-bar{flex: 0 0 100%; align-self: flex-end; max-width: 100%;}
.while-box-login .top-bar .input-parent{margin-top: calc(2 * var(--gen-pad));}
.while-box-login .top-bar .input-parent .input-group{margin-top: 25px;}
.while-box-login .top-bar .input-parent .input-group .show-password{position: absolute; bottom: 10px; right: 10px;}
.while-box-login .bottom-bar{flex: 0 0 100%; align-self: flex-start; color: var(--dark-text); max-width: 100%;}

.bottom-bar .button-parent{margin-bottom: calc(0.5 * var(--gen-pad)); margin-top: calc(1.5 * var(--gen-pad));}
.errors {position: absolute; top: 100%;}


/* Responsive */
@media screen and (max-width: 1536px) {
    .while-box-login .top-bar .input-parent{margin-top: calc(1.3 * var(--gen-pad));}
    .while-box-login .top-bar .input-parent .input-group{margin-top: 20px;}
}
@media screen and (max-width: 1280px) {
    .while-box-login .top-bar .input-parent{margin-top: calc(1 * var(--gen-pad));}
    .while-box-login .top-bar .input-parent .input-group{margin-top: 15px;}
}
@media screen and (max-width: 1024px) {
    .while-box-login{height: auto; margin-top: 50px;}
}