.main-white-box{margin-top: 30px; min-height: calc(100vh - 350px);}
// .filter-parent-box{position: relative;}
// .filter-over-box{background-color: var(--light-text); border-radius: 8px; overflow-x: hidden; width: 300px; position: absolute; top: 0; right: 0; overflow-y: auto; box-shadow: 0px 18px 30px rgba(131, 119, 198, 0.11); opacity: 0; visibility: hidden;}
// .filter-over-box.show{opacity: 1; visibility: visible;}
// .filter-over-box .filter-overflow{overflow-y: auto; overflow-x: hidden; max-height: calc(100vh - 300px);}
// .filter-over-box .filter-overflow::-webkit-scrollbar{display: none;} /* to Hide Scrollbar */
// .filter-over-box .accordion{padding: 15px 25px;}
// .filter-over-box .accordion .accordion-item{border: 0; border-bottom: 1px solid #D9D9D9; border-radius: 0px;}
// .filter-over-box .accordion .accordion-item .accordion-button{padding: 20px 0; border: 0; font-size: 14px; color: #999999; box-shadow: none; background: transparent;}
// .filter-over-box .accordion .accordion-item .accordion-button.collapsed::after{transform: translate(0, 7.5px) rotate(-180deg);}
// .filter-over-box .accordion .accordion-item .accordion-button::after{width: 0; height: 0; border: 6px solid transparent; border-bottom: 6px solid #000; transform: translate(0, 0px);}
// .filter-over-box .accordion .accordion-body{padding: 0px 0 10px;}
// .filter-over-box .button-parent{padding: 12px 24px;}
// .filter-over-box .button-parent button{padding: 15px;}
// .filter-over-box .radio-parent label{line-height: 20px; display: flex; align-items: center; padding-left: 35px;}
// .filter-over-box .radio-parent label::before, .filter-over-box .radio-parent label::after{width: 20px; height: 20px;}

// @media screen and (max-width: 650px) {
//     .filter-over-box{right: initial; left: 0; top: 0; position: fixed; z-index: 9999; width: 100vw; height: 100vh;}
//     .filter-over-box .filter-overflow{max-height: initial; height: calc(100vh - 220px);}
//     .filter-over-box .button-parent button{padding: 10px;}
// }

.top-area{padding: 15px; border-bottom: 5px solid #FAFAFF;}
