<div class="login-parnet-box">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-1"></div>
            <div class="col-lg-5 text-center">
                <img src="./assets/images/logo.webp" alt="logo">
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-4">
              <form [loader]="isLoading" class="while-box-login" [formGroup]="forgotPassForm" (ngSubmit)="onSubmit()">

                    <div class="top-bar">
                        <div class="large-title">Forgot Password</div>
                        <div class="sub-title">Please enter E-mail ID </div>
                        <div class="input-parent">
                            <div class="input-group">
                                <input type="email"
                                placeholder="Email"
                                class="gen-input"
                                formControlName="email"
                                 id="email"
                                >
                                <div *ngIf="isSubmitted && f['email'].errors" class="errors">
                                  <p *ngIf="f['email'].errors['validEmail']">
                                    Please enter valid email address
                                  </p>
                                  <div *ngIf="!f['email'].errors['validEmail']">
                                    <p *ngIf="f['email'].errors['required']">
                                      Please enter email address
                                    </p>
                                    <p *ngIf="f['email'].errors['maxlength'] != null">
                                      Please enter valid email address
                                    </p>
                                    <p *ngIf="f['email'].errors['minlength'] != null">
                                      Please enter valid email address
                                    </p>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bottom-bar">
                        <div class="button-parent text-center" >
                            <a (click)="onSubmit()" class="primary-button lg-btn">Send Link</a>
                        </div>
                        <p class="text-center">Already have an account? <a (click)="pageHandle('login')"  class="primary-link"> Sign In</a></p>
                    </div>
                  </form>



            </div>
            <div class="col-lg-1">
             </div>
        </div>
    </div>
    <p>Risk Warning : Trading FX instruments and CFDs can incur a high level of risk and may result in a loss of all your invested Capital.</p>
</div>
